<!-- app/templates/dashboard.html -->
{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <div class="min-h-screen bg-cover bg-center py-10 px-4" style="background-image: url('{{ url_for('static', filename='images/base.png') }}');">
        <h1 class="text-2xl sm:text-3xl md:text-4xl text-white font-semibold text-center mb-10 sm:mb-16">SELAMAT DATANG</h1>
        <div class="flex flex-col md:flex-row justify-between items-center md:px-10 lg:px-[100px] space-y-8 md:space-y-0">
            <div class="text-center">
                <h1 class="underline font-bold text-white text-6xl sm:text-7xl md:text-8xl lg:text-9xl">SAFETY</h1>
                <h1 class="underline font-bold text-white text-6xl sm:text-7xl md:text-8xl lg:text-9xl">NO</h1>
                <h1 class="underline font-bold text-white text-6xl sm:text-7xl md:text-8xl lg:text-9xl">LIMIT</h1>
            </div>
            <div class="space-y-4 flex flex-col items-center">
                <a href="{{ url_for('main.run_test') }}" class="bg-[#252525] text-[#F9C679] w-[300px] max-w-xs text-xl sm:text-2xl font-semibold py-4 px-8 sm:px-12 rounded underline hover:bg-slate-700 text-center">Run Test</a>
                <a href="{{ url_for('main.about') }}" class="bg-[#252525] text-[#F9C679] w-[300px] max-w-xs text-xl sm:text-2xl font-semibold py-4 px-8 sm:px-12 rounded underline hover:bg-slate-700 text-center">About Us</a>
                <a href="{{ url_for('main.history') }}" class="bg-[#252525] text-[#F9C679] w-[300px] max-w-xs text-xl sm:text-2xl font-semibold py-4 px-8 sm:px-12 rounded underline hover:bg-slate-700 text-center">History</a>
                <a href="{{ url_for('main.logout') }}" class="bg-[#252525] text-[#F9C679] w-[300px] max-w-xs text-xl sm:text-2xl font-semibold py-4 px-8 sm:px-12 rounded underline hover:bg-slate-700 text-center">Exit</a>
            </div>
        </div>
    </div>
{% endblock %}
