<!-- app/templates/home.html -->
{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="flex flex-col items-center justify-center min-h-screen bg-white">
        <!-- <h1 class="text-4xl mb-4 font-semibold">Welcome to SMAR + PARS Application</h1> -->
        <img class="mb-2" src="{{ url_for('static', filename='images/logo-login.png') }}" alt="Deskripsi Gambar">
        <h2 class="mb-[170px] underline text-xl font-bold">Train Wheels Defect App</h2>
        <div class="space-x-[313px]">
            <a href="{{ url_for('main.login') }}" class="bg-[#252525] text-[#F9C679] w-[300px] text-sm font-semibold py-2 px-12 rounded underline hover:bg-slate-700">Sign In</a>
            <a href="{{ url_for('main.register') }}" class="bg-[#252525] text-[#F9C679] w-[300px] text-sm font-semibold py-2 px-12 rounded underline hover:bg-slate-700">Sign Up</a>
        </div>
    </div>
{% endblock %}
